body{
  background-image: url(~/assets/images/pattern.webp);
  background-size: cover;
  background-repeat: repeat-y;
  // background-color: red;
}

.shadow{
  box-shadow: 2px 4px 4px 0px rgba(87, 82, 81, 0.40);
}
